
/* style.css */
.button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
}
.button:hover {
    -fx-background-color: #5582ff; /* Optional hover color */
    -fx-text-fill: #000000;
}



.button.selected {
    -fx-background-color: #6189f8;

}


/* Add New Student Button Style */
.add-student-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 2px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
}

/* buttonStyles.css */
.update-button {
    -fx-background-color: #20c720; /* Green */
    -fx-text-fill: white;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 5;
}

.delete-button {
    -fx-background-color: #ff8080; /* Red */
    -fx-text-fill: white;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 5;
}

.update-button:hover {
    -fx-background-color: #7bff7f;
    -fx-text-fill: black;
}

.delete-button:hover {
    -fx-background-color: #f63a2c;
}



